<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="/">戶政司的外送員</a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
<% @active_orders.each do |order| %>
        <li
  <% if order == @order %>
    class="active"
  <% end %>
        >
          <a href="<%= root_url(order_id: order.id) %>"><%= order.title %></a>
        </li>
<% end %>
      </ul>

<% if @user.nil?  %>
      <ul class="nav navbar-nav navbar-right">
        <li><a>尚未登入</a></li>
      </ul>
<% else %>
      <ul class="nav navbar-nav navbar-right">
        <li><a>我是：<%= @user['name'] %></a></li>
        <li><%= link_to('登出', user_logout_path, method: :post) %></a></li>
      </ul>
<% end %>
    </div>
  </div>
</nav>
