<div class="container-fluid">
  <div class="col-lg-8">
    <h2>Hi！<%= @user['name'] %>, 我們要訂購<%= @order.restaurant.name %>, 你想吃什麼呢？</h2>

    <div class="menu-photo">
      <div id="menu_photo_loader" class="alert alert-warning" role="alert">
        <i class="fa fa-circle-o-notch fa-spin"></i>
        菜單載入中...
      </div>
      <a href="<%= @order.restaurant.menu_photo %>" target="_blank">
        <img id="menu_photo_img" src="<%= @order.restaurant.menu_photo %>" class="img-rounded" />
      </a>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel panel-primary" ng-app="panelApp" ng-cloak>
      <div class="panel-heading"><%= @order.title %></div>
      <div class="panel-body" ng-controller="panelCtrl">
        <div ng-controller="itemFormCtrl">
          <form class="form-horizontal" ng-show="!complete">
            <legend>我要點餐</legend>
            <div class="form-group">
              <label class="col-sm-4 control-label">訂購人</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="姓名"
                  ng-model="form_model.owner" validator="[required]">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">餐點名稱</label>
              <div class="col-sm-8">
                <input class="form-control" placeholder="你想吃什麼"
                  ng-model="form_model.name" validator="[required]">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">餐點價格</label>
              <div class="col-sm-8">
                <input class="form-control" type="number" placeholder="請小心別填錯噢"
                  ng-model="form_model.price" validator="[required, number]">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-4 col-sm-8">
                <button type="button" class="btn btn-primary"
                  ng-click="submit()" ng-disabled="busy">
                    <span ng-if="busy"><i class="fa fa-circle-o-notch fa-spin"></i></span> 送出
                </button>
              </div>
            </div>
          </form>


          <div class="alert alert-success" role="alert" ng-show="complete">
            <i class="fa fa-check"></i>
            點餐完成，請記得付款給替代役男
          </div>
        </div>

        <hr>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>訂購人</th>
              <th>餐點</th>
              <th>價格</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in items">
              <td>{{ item.owner }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.price }}</td>
              <td>
                <div ng-show="!item.is_paid && item.owner == username">
                  <a href="#" ng-click="delete(item)" tooltip="刪除" tooltip-placement="bottom">
                    <i class="fa fa-times"></i>
                  </a>
                </div>
                <div ng-show="item.is_paid">
                  <a href="#" tooltip="已付款" tooltip-placement="bottom">
                    <i class="fa fa-check"></i>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="text-center">
          <div class="input-group">
            <span class="input-group-addon">總價</span>
            <input type="text" class="form-control" ng-model="total_price" readonly="readonly" style="text-align:right;">
            <span class="input-group-addon">$</span>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var USERNAME      = '<%= @user['name'] %>',
      ORDER_ID      = <%= @order.id %>,
      RESTAURANT_ID = <%= @order.restaurant.id %>,
      ITEMS         = <%= @order.items.to_json.html_safe %>;

  $(document).ready(function(){
    var $img = $('#menu_photo_img');
    var $loader = $('#menu_photo_loader');

    $img.hide();
    $img.imagesLoaded( function() {
      $loader.hide();
      $img.fadeIn();

      $img.wrap('<span style="display:inline-block"></span>')
        .css('display', 'block')
        .parent()
        .zoom();
    });
  });
</script>
