<%= render partial: 'main/header' %>

<% if !browser.modern? %>
  <div class="container">
    <div class="jumbotron">
      <h2>Oops！抱歉，你的瀏覽器太舊了</h2>
      <p>請使用其他版本的瀏覽器，例如 Firefox 或 Chrome，謝謝</p>
    </div>
  </div>
<% else %>
  <% if @order.nil? %>
    <div class="container">
      <div class="jumbotron">
        <h2>Oops！現在沒有上架中的訂單</h2>
        <p>我們還沒開始訂東西喔！再等一下下。</p>
      </div>
    </div>
  <% else %>
    <%= render partial: 'panel' %>
  <% end %>
<% end %>
