<%= render partial: 'main/header' %>

<% if !browser.modern? %>
  <div class="container">
    <div class="jumbotron">
      <h2>Oops！抱歉，你的瀏覽器太舊了</h2>
      <p>請使用其他版本的瀏覽器，例如 Firefox 或 Chrome，謝謝</p>
    </div>
  </div>
<% else %>
  <div class="container">
    <div class="jumbotron">
      <h1>歡迎</h1>
      <p>在開始點餐之前，請先輸入你的名字登入</p>

      <%= form_for(:user, url: user_login_path, html: { class: "form-inline", role: "form" }) do |f| %>
        <div class="form-group form-group-lg">
          <%= f.text_field :name, class: "form-control", placeholder: "你的姓名" %>
        </div>
        <button type="submit" class="btn btn-primary btn-lg">登入</button>
      <% end %>
    </div>
  </div>
<% end %>
