/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

/* line 1, /Users/chsien/ruby_workspace/ris-food/app/assets/stylesheets/main.scss */
body {
  padding-top: 80px;
  background: #fcfcfc;
}

/* line 6, /Users/chsien/ruby_workspace/ris-food/app/assets/stylesheets/main.scss */
.menu-photo {
  margin-top: 20px;
  margin-bottom: 40px;
}

/* line 11, /Users/chsien/ruby_workspace/ris-food/app/assets/stylesheets/main.scss */
.menu-photo img {
  width: 100%;
}
