<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "戶政司訂餐管理", orders_path, class: "navbar-brand" %>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="<%= page_active?('orders') %>">
          <a href="<%= orders_path %>">訂單</a></li>
        <li class="<%= page_active?('items') %>">
          <a href="<%= items_path %>">訂單項目</a></li>
        <li class="<%= page_active?('restaurants') %>">
          <a href="<%= restaurants_path %>">餐廳資訊</a></li>
      </ul>
    </div>
  </div>
</nav>
