<%= form_for(@order, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @order.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h4>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :description, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :description, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :restaurant_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select(:restaurant_id, Restaurant.all.collect {|r| [ r.name, r.id ] }, { include_blank: false }, class: "form-control") %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :order_at, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.datetime_select :order_at, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :handler, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :handler, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
