<div class="page-header">
  <%= link_to new_order_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Order
  <% end %>
  <h1>Listing orders</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Description</th>
            <th>Restaurant</th>
            <th>Order at</th>
            <th>狀態</th>
            <th>Handler</th>
            <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @orders) do |order| %>
            <td><%= order.description %></td>
            <td><%= order.restaurant_id %></td>
            <td><%= order.order_at %></td>
            <td>
              <span class="label
<% case order.aasm_state %>
<% when 'draft' %>
  label-default
<% when 'active' %>
  label-success
<% when 'archive' %>
  label-danger
<% end %>
              ">
                <%= order.state_humanize %>
              </span>

            </td>
            <td><%= order.handler %></td>
            <td class="text-right">
<% case order.aasm_state %>
<% when 'draft' %>
  <%= link_to '上架', open_order_path(order), class:  "btn btn-success", method: :post %>
<% when 'active' %>
  <%= link_to '下架', close_order_path(order), class:  "btn btn-danger", method: :post, data: { confirm: 'Are you sure?' } %>
<% when 'archive' %>
  <%= link_to '上架', open_order_path(order), class:  "btn btn-success", method: :post %>
<% end %>
              <div class="btn-group" role="group" aria-label="...">
                <%= link_to 'Show', order, class:  "btn btn-default" %>
                <%= link_to 'Edit', edit_order_path(order), class:  "btn btn-default" %>
                <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }, class:  "btn btn-default" %>
              </div>
            </td>
      <% end %>
    </tbody>
  </table>
</div>
