<div class="page-header">
  <%= link_to orders_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_order_path(@order), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show order</h1>
</div>

<dl class="dl-horizontal">
  <dt>Description:</dt>
  <dd><%= @order.description %></dd>

  <dt>Restaurant:</dt>
  <dd><%= @order.restaurant_id %></dd>

  <dt>Order at:</dt>
  <dd><%= @order.order_at %></dd>

  <dt>Aasm state:</dt>
  <dd><%= @order.aasm_state %></dd>

  <dt>Handler:</dt>
  <dd><%= @order.handler %></dd>

</dl>
