<div class="page-header">
  <%= link_to new_restaurant_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Restaurant
  <% end %>
  <h1>Listing restaurants</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Menu photo</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @restaurants) do |restaurant| %>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.phone %></td>
        <td class="text-center">
          <a href="<%= restaurant.menu_photo %>" target="_blank">
            <img src="<%= restaurant.menu_photo.small %>" width="200" heigth="150"/>
          </a>
        </td>
        <td class="text-right">
          <div class="btn-group" role="group" aria-label="...">
            <%= link_to 'Show', restaurant, class:  "btn btn-default" %>
            <%= link_to 'Edit', edit_restaurant_path(restaurant), class:  "btn btn-default" %>
            <%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' }, class:  "btn btn-default" %>
          </div>
        </td>
      <% end %>
    </tbody>
  </table>
</div>
