<div class="page-header">
  <%= link_to restaurants_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_restaurant_path(@restaurant), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show restaurant</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @restaurant.name %></dd>

  <dt>Address:</dt>
  <dd><%= @restaurant.address %></dd>

  <dt>Phone:</dt>
  <dd><%= @restaurant.phone %></dd>

  <dt>Menu photo:</dt>
  <dd><%= @restaurant.menu_photo %></dd>

</dl>
