<%= form_for(@item, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @item.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h4>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :owner, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :owner, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :name, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :price, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :price, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :number, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :number, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :is_paid, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.check_box :is_paid, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :order_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :order_id, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :restaurant_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :restaurant_id, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
