<div class="page-header">
<!--
  <%= link_to new_item_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Item
  <% end %>
-->
  <h1>Listing items</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Owner</th>
            <th>Name</th>
            <th>Price</th>
            <th>Number</th>
            <th>Is paid</th>
            <th>Order</th>
            <th>Restaurant</th>
            <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @items) do |item| %>
            <td><%= item.owner %></td>
            <td><%= item.name %></td>
            <td><%= item.price %></td>
            <td><%= item.number %></td>
            <td><%= item.is_paid %></td>
            <td><%= item.order_id %></td>
            <td><%= item.restaurant_id %></td>
            <td class="text-right">
              <div class="btn-group" role="group" aria-label="...">
                <%= link_to 'Show', item, class:  "btn btn-default" %>
                <%= link_to 'Edit', edit_item_path(item), class:  "btn btn-default" %>
                <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }, class:  "btn btn-default" %>
              </div>
            </td>
      <% end %>
    </tbody>
  </table>
</div>
