<div class="page-header">
  <%= link_to items_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_item_path(@item), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show item</h1>
</div>

<dl class="dl-horizontal">
  <dt>Owner:</dt>
  <dd><%= @item.owner %></dd>

  <dt>Name:</dt>
  <dd><%= @item.name %></dd>

  <dt>Price:</dt>
  <dd><%= @item.price %></dd>

  <dt>Number:</dt>
  <dd><%= @item.number %></dd>

  <dt>Is paid:</dt>
  <dd><%= @item.is_paid %></dd>

  <dt>Order:</dt>
  <dd><%= @item.order_id %></dd>

  <dt>Restaurant:</dt>
  <dd><%= @item.restaurant_id %></dd>

</dl>
