<%= render partial: 'population_process/header' %>

<% if !browser.modern? %>
  <div class="container">
    <div class="jumbotron">
      <h2>Oops！抱歉，你的瀏覽器太舊了</h2>
      <p>請使用其他版本的瀏覽器，例如 Firefox 或 Chrome，謝謝</p>
    </div>
  </div>
<% else %>
  <% if flash[:error] %>
    <div class="alert alert-danger" role="alert"><%= flash[:error] %></div>
  <% end %>

  <div class="jumbotron">
    <h2>全台總表 (男女平衡)</h2>
    <p>範例上傳格式：
      <a href="/sample/男.csv" target="_blank">男</a> / <a href="/sample/女.csv" target="_blank">女</a>
    </p>
    <br />
    <%= form_for(:population, url: population_process_root_couple_path, html: { class: "form-inline", role: "form" }) do |f| %>
      <div class="form-group form-group">
        <lable>男</lable>
        <%= f.file_field :source_file_male, class: "form-control" %>
      </div>
      <div class="form-group form-group">
        <lable>女</lable>
        <%= f.file_field :source_file_female, class: "form-control" %>
      </div>
      <div class="form-group form-group">
        <lable>處理欄位數目</lable>
        <%= f.text_field :row_length, class: "form-control", type: 'number', value: 26 %>
      </div>
      <button type="submit" class="btn btn-primary btn">取得結果</button>
    <% end %>
  </div>

  <div class="jumbotron">
    <h2>全台年齡展開</h2>
    <p>範例上傳格式：
      <a href="/sample/男_結果.csv" target="_blank">男-總表結果</a> / <a href="/sample/男_年齡展開.csv" target="_blank">男-年齡展開</a>
    </p>
    <br />
    <%= form_for(:population, url: population_process_age_range_path, html: { class: "form-inline", role: "form" }) do |f| %>
      <div class="form-group form-group">
        <lable>男-總表結果</lable>
        <%= f.file_field :source_all_file, class: "form-control" %>
      </div>
      <div class="form-group form-group">
        <lable>男-年齡展開</lable>
        <%= f.file_field :source_file_age_range, class: "form-control" %>
      </div>
      <button type="submit" class="btn btn-primary btn">取得結果</button>
    <% end %>
  </div>

  <div class="jumbotron">
    <h2>縣市轉換 (男女平衡)</h2>
    <p>範例上傳格式：
      <a href="/sample/男_連江縣.csv" target="_blank">男-連江縣</a>/
      <a href="/sample/女_連江縣.csv" target="_blank">女-連江縣</a>
    </p>
    <p>* 第一列必須是 “指定首行總計”，給訂資料的總計列的細項須進位或退位</p>
    <br />
    <%= form_for(:population, url: population_process_general_couple_path, html: { class: "form-inline", role: "form" }) do |f| %>
      <div class="form-group form-group">
        <lable>男</lable>
        <%= f.file_field :source_file_male, class: "form-control" %>
      </div>
      <div class="form-group form-group">
        <lable>女</lable>
        <%= f.file_field :source_file_female, class: "form-control" %>
      </div>
      <div class="form-group form-group">
        <lable>處理欄位數目</lable>
        <%= f.text_field :row_length, class: "form-control", type: 'number', value: 26 %>
      </div>
      <button type="submit" class="btn btn-primary btn">取得結果</button>
    <% end %>
  </div>

  <div class="jumbotron">
    <h2>通用型轉換</h2>
    <p>範例上傳格式：<a href="/sample/女_連江縣.csv" target="_blank">下載</a></p>
    <p>* 第一列必須是 “指定首行總計”，給訂資料的總計列的細項須進位或退位</p>
    <br />
    <%= form_for(:population, url: population_process_general_path, html: { class: "form-inline", role: "form" }) do |f| %>
      <div class="form-group form-group">
        <%= f.file_field :source_file, class: "form-control" %>
      </div>
      <div class="form-group form-group">
        <lable>處理欄位數目</lable>
        <%= f.text_field :row_length, class: "form-control", type: 'number', value: 26 %>
      </div>
      <button type="submit" class="btn btn-primary btn">取得結果</button>
    <% end %>
  </div>
<% end %>
